@charset "UTF-8";
* {
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
  background: #2d375d;
}
.screen__button {
	background: rgb(42, 69, 178);
	background: linear-gradient(90deg, rgb(255, 0, 55) 0%, rgb(42, 155, 124) 100%);
	animation: gradient 3s infinite linear;
	background-size: 800%;
	padding: 10px 0;
	border-radius: 60px;
	transition: all 0.3s ease-out;	
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.screen__button:hover{
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}
.button__link {
  color: #fff;
  text-decoration: none;
  padding: 10px 44px;
  letter-spacing: 1px;
}
.button__link:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: "";
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0) 70%);
	transition-duration: 0.3s;
	transition-property: transform opacity;
 }
 .button__link:hover {
	transform: translateY(-5px);
 }
 .button__link:hover:before {
	opacity: 1;
	transform: translateY(5px);
 }
.start {
  font-size: 2rem;
}
h1 {
  line-height: 1.4;
  font-size: 4rem;
  color: #3a2c4d;
}
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: rgba(94, 197, 39, 0.943);
  background: radial-gradient(circle, rgb(114, 187, 46) 0%, rgb(51, 175, 192) 100%);
}
.screen.up {
  margin-top: -100vh;
}
.screen__time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.screen__time-list li {
  margin: 10px;
}
.screen__time-btn {
  background-color: transparent;
  border: 2px solid #95598c;
  border-radius: 64px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 2rem;
  font-size: 1.5rem;
}
.screen__time-btn:hover {
  border: 2px solid #3a2c4d;
  color: #3a2c4d;
}

.hide {
  opacity: 0;
}

.primary {
  color: #95598c;
}

.screen__board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80vw;
  height: 80vw; 
  max-width: 500px;
  max-height: 500px;
  background: #fff;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 30px;
  overflow: hidden;
  margin: 0px 10px 20px 10px;
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.play-again-button {
  padding: 15px 30px;
  background: linear-gradient(90deg, #FF0037 0%, #2A9B7C 100%);
  border: none;
  border-radius: 60px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.play-again-button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 515.98px) {
	.screen__board {
		width: 300px;
		height: 400px;
	}
}
